body {
  background-color: #30475e;
}

.container h1 {
  text-align: center;
  color: #e8e8e8;
}

.container-quote {
  background-color: #e8e8e8;
  margin: 0 auto;
  width: 600px;
  padding: 15px 15px;
  position: relative;
}

.container-img {
  text-align: center;
}

.img-author {
  border-radius: 50%;
}

.name-author,
.country-author,
.text-author {
  text-transform: capitalize;
  text-align: center;
}

.container-buttons {
  text-align: center;
}

button {
  color: #f05454;
  border: none;
  border-radius: 15%;
  padding: 7px 15px;
  cursor: pointer;
}

.prev-btn,
.next-btn {
  margin: 0px 15px;
}

.random-btn {
  margin: 20px auto;
  display: block;
}
